<!DOCTYPE html>
<html lang="en" th:replace="~{base::layout(~{::section})}"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Insert title here</title>
</head>
<body>
<section>
    <div class="container mt-5 p-5">
        <div class="row">
            <div class="col-md-6 p-5">
                <img alt="" height="400px" src="/img/login.jpg" width="100%">
            </div>
            <div class="col-md-6 mt-3 p-5">
                <div class="card shadow p-3 mb-5 bg-body rounded">
                    <div class="card-header">
                        <p class="fs-4 text-center">Reset Password</p>

                        <!-- Showing message to UI end -->
                        <th:block th:if="${session.successMsg}">
                            <p class="text-success fw-bold text-center mt-2">[[${session.successMsg}]]</p>
                            <th:block th:text="${@commonServiceImpl.removeSessionMessage()}"></th:block>
                        </th:block>
                        <th:block th:if="${session.errorMsg}">
                            <p class="text-danger fw-bold text-center mt-2">[[${session.errorMsg}]]</p>
                            <th:block th:text="${@commonServiceImpl.removeSessionMessage()}"></th:block>
                        </th:block>
                        <!-- Showing message to UI end -->

                    </div>
                    <div class="card-body">
                        <form action="/reset-password" method="post">
                            <div class="mb-3">
                                <label class="form-label">New Password</label> <input
                                    class="form-control" id="password" name="password" required type="password"/>
                            </div>

                            <div class="mb-3">
                                <label class="form-label">Confirm Password</label> <input
                                    class="form-control" id="confirmPassword" name="confirmPassword" required
                                    type="password"/>
                                <span id="passwordError" style="color:red;"></span>
                            </div>
                            <input name="token" th:value="${token}" type="hidden">
                            <button class="btn bg-danger text-white col-md-12" disabled id="submitButton" type="submit">
                                Reset Password
                            </button>
                        </form>


                    </div>

                </div>
            </div>
        </div>
    </div>

    <script>
        /*<![CDATA[*/
        $(document).ready(function () {

            $('#password, #confirmPassword').on('input', function () {
                const password = $('#password').val();
                const confirmPassword = $('#confirmPassword').val();

                if (password === confirmPassword && password !== "") {
                    $('#submitButton').prop('disabled', false);
                    $('#passwordError').text('Password match').css('color', 'green');
                    //$('#passwordError').text('Password Matched').css('color', 'green');;
                } else {
                    $('#submitButton').prop('disabled', true);
                    //$('#passwordError').text('Passwords do not match');
                    $('#passwordError').text('Passwords do not match').css('color', 'Red');
                }

            });


        });

        /*]]>*/
    </script>
</section>

</body>
</html>